* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #aaa;
}

.container {
  background-color: #ddd;
  max-width: 960px;
  margin-inline: auto;
}

header {
  width: 100%;
  margin: 0px auto;
}

header h1 {
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
}

#jogo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 27px 10px;
}
#controle {
  margin: 20px auto;
}

#controle h1 {
  text-align: center;
  font-size: 3em;
}

#controle button {
  margin-left: 420px;
  text-transform: uppercase;
  border: none;
  background-color: #666;
  padding: 10px 40px;
  border-radius: 5px;
  color: #ddd;
}

#controle button:hover {
  filter: brightness(1.4);
  transition: 0.2s ease-in;
}

.tabuleiro {
  height: 640px;
  width: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card {
  height: 25%;
  width: 20%;
  margin: 5px;
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transform-style: preserve-3d;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  background: #fff;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
}

.card-back {
  filter: grayscale(1);
}

.card.flip {
  transform: rotateY(180deg);
}

#pontos {
  border-radius: 5px;
  margin-inline: auto;
  width: 300px;
  height: 600px;
  background-color: #aaa;
}

#pontos h3 {
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid black;
}

ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

li {
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
}

footer {
  margin-top: 90px;
  background: #444;
  width: 100%;
  height: 80px;
}

footer p {
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
